<%@ page language="java" contentType="text/html; charset=UTF-8"
	pageEncoding="UTF-8"%>
<%@taglib prefix="cms" uri="http://tag.cmswl.com/jsp/cms"%>
<div class="m-breadcrumb">
	<a href="/" class="site"><i class="iconfont-home"></i></a>
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="undefined">上级模块名称</a></li>
		<li class="breadcrumb-item">$!{bean.proxClassZhName}</li>
	</ol>
</div>
<cms:token />
<div class="g-content" data-page="$!{bean.lowerName}">
	<div class="search clearfix" id="serach">
	    <!-- 下拉框条件demo
		<div class="search-item">
			<div class="m-select">
				<input type="text" name="type" value="运输类型"
					class="form-control select-txt" readonly data-toggle="dropdown"
					aria-expanded="false"> <span class="select-caret"></span>
				<div class="dropdown-menu">
					<a href="javascript:;" class="dropdown-item" data-value="1">长期计划</a>
					<a href="javascript:;" class="dropdown-item" data-value="2">临时计划</a>
				</div>
			</div>
		</div>
		-->
		#foreach( $key in $bean.webQueryConditionFields)
		<div class="search-item float-sm-right">
			<label for="$!{bean.lcolumnList.get($key)}" class="search-label">$!{bean.commentList.get($key)}</label>
			<div class="search-box">
				<input type="text" class="form-control table-search"
					name="$!{bean.lcolumnList.get($key)}" autocomplete="off">
			</div>
		</div>
		#end
		
		<div class="search-item float-sm-right btns">
			<button type="button" class="btn btn-primary ml-1" id="J_tableSearch">搜索</button>
			<a href="javascript:;"  class="btn btn-primary addNewBtn">新增</a>
		</div>
	</div>
	<div class="data-table">
		<table class="table table-sm table-bordered table-head" id="J_$!{bean.lowerName}"></table>
	</div>
</div>